<div class="dev-cont">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="dev-info">
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "dev-input", :placeholder => "Email" %>
      </div>

      <hr class="dev-sep">

      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, :class => "dev-input", :placeholder => "Password" %>
      </div>

      <hr class="dev-sep">

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "new-password", :class => "dev-input", :placeholder => "Password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <hr class="dev-sep">

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "dev-input", :placeholder => "Password" %>
      </div>

      <hr class="dev-sep">

      <div class="field">
        <%= f.label :current_password, :class => "visually-hidden" %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "current-password", :class => "dev-input", :placeholder => "Password" %>
      </div>
    </div>
  <% end %>
      

    <div class="dev-actions">
      <%= button_to "CANCEL MY ACCOUNT", registration_path(resource_name), method: :delete, class: "splash-btn sign-down dev-btn", data: {turbo_confirm: "Are you sure?" } %>
    </div>
</div>
