<div class="dev-cont">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="dev-info">
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password", :class => "visually-hidden" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", :class => "dev-input", :placeholder => "Password" %>
      </div>

      <hr class="dev-sep">

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password", :class => "visually-hidden" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "dev-input", :placeholder => "Password" %>
      </div>
    </div>
    

    <div class="dev-actions">
      <%= f.submit "CHANGE PASSWORD", :class => "splash-btn login-btn dev-btn" %>
      <%= link_to "CANCEL", root_path, class: "splash-btn link-btn signup-btn" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>